body *{
    margin: 10px auto;
}

.top{
    width: 1600px;
    height: 100px;
    margin: 0px auto;
    padding: 10px;
    background-color: seashell;
}
.container{
    width: 1600px;
    height: 1550px;
    padding: 10px;
    margin: 0px auto;
    background-image: radial-gradient(circle, rgb(174, 128, 179), rgb(141, 83, 141) , rgb(29, 6, 29));
}
.bottom{
    width: 1600px;
    height: 100px;
    margin: 0px auto;
    padding: 10px;
    background-color: seashell;
    text-align: center;
}
.featured{
    width: 1500px;
    height: 400px;
    margin: 50px auto;
}
.content{
    width: 1500px;
    height: 1000px;
    margin: 50px auto;
}
.name{
    width: 400px;
    height: 100px;
    vertical-align: top;
    font: 80px/100px Arial;
    margin-left: 40px;
    text-align: left;
    display: inline-block;
}
div.top .title{
    width: 800px;
    height: 100px;
    vertical-align: top;
    font: 40px/100px Arial;
    margin-left: 300px;
    text-align: right;
    display: inline-block;
}
div.featured img{
    background-position: center left;
    margin: 0;
    margin-right: 40px;
    width: 680px;
    height: 380px;
    display: inline-block;
    border: 10px solid grey;
}
.fcontent{
    width: 745px;
    height: 400px;
    margin-top: 0;
    margin-left: 10px;
    background-image: linear-gradient(to right, white , rgba(255, 255, 255, 0.747));
    display: inline-block;
    vertical-align: top;
}
.fcontent div.title{
    margin: 0px;
    width: 735px;
    height: 60px;
    padding-left: 10px;
    text-align: left;
    background-image: linear-gradient(#b8b8b8,#8b8b8b, #b8b8b8);
    color: white;
    font: 30px/60px Arial;  
}
.fcontent div.about{
    width: 680px;
    height: 400px;
    text-align: left;
    color: black;
    font: 25px Arial;
    vertical-align: top;
}
.column1{
    width: 475px;
    height: 1000px;
    margin-top: 0px;
    margin-right: 33px;
    vertical-align: top;
    background-image: linear-gradient(to right, white , rgba(255, 255, 255, 0.747));
    display: inline-block;
}
.column2{
    width: 475px;
    height: 1000px;
    margin-top: 0px;
    vertical-align: top;
    background-image: linear-gradient(to right, white , rgba(255, 255, 255, 0.747));
    display: inline-block;
}
.column3{
    width: 475px;
    height: 1000px;
    margin-top: 0px;
    margin-left: 33px;
    vertical-align: top;
    background-image: linear-gradient(to right, white , rgba(255, 255, 255, 0.747));
    display: inline-block;
}
.content div.column_title{
    margin: 0px;
    width: 465px;
    height: 60px;
    padding-left: 10px;
    text-align: left;
    background-image: linear-gradient(#b8b8b8,#8b8b8b, #b8b8b8);
    color: white;
    font: 30px/60px Arial;  
}
.content img.main{
    width: 475px;
    height: 300px;
    margin: 0px;
}
.content div.column_content{
    width: 455px;
    height: 300px;
    text-align: justify;
    color: black;
    font: 25px Arial;
    vertical-align: top;
}
.content div.technologies_title{
    margin: 0px;
    width: 465px;
    height: 60px;
    padding-left: 10px;
    text-align: left;
    background-image: linear-gradient(#b8b8b8,#8b8b8b, #b8b8b8);
    color: white;
    font: 30px/60px Arial; 
}
div.content div.code{
    width: 455px;
    height: 240px;
    margin: 0px;
    padding: 10px;
}
div.content img.tech{
    width: 60px;
    height: 60px;
    margin-top: 0px;
    margin-left: 20px;
    display: inline-block;
}
div.button1{
    background-color: rgb(10, 54, 10);
    border: 2px solid black;
    border-radius: 20px;
    width: 120px;
    height: 60px;
    text-align: center;
    margin-top: 20px;
    font: 25px/60px Arial;
    color: white;
    box-shadow: 7px 7px 3px grey;

}
div.button2{
    background-color: rgb(10, 54, 10);
    border: 2px solid black;
    border-radius: 20px;
    width: 200px;
    height: 60px;
    margin-top: 20px;
    text-align: center;
    font: 25px/60px Arial;
    color: white;
    box-shadow: 7px 7px 3px grey;

}
div.button3{
    background-color: rgb(10, 54, 10);
    border: 2px solid black;
    border-radius: 20px;
    width: 150px;
    height: 60px;
    text-align: center;
    margin-top: 20px;
    font: 25px/60px Arial;
    color: white;
    box-shadow: 7px 7px 3px grey;

}
.bottom span{

    text-decoration: underline;
}
.bottom p{
    margin-top: 0px;
    margin-bottom: 20px;
    font: 30px Arial;
}
div.bottom img{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0px 7px;
}